{% extends "editor/base.html" %}

{% block title %}Word {{ base_form.word }}
{% endblock %}

{% block content %}
    <form action="{% url 'analyze' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>
                <h3>Word to Analyze</h3>
            </legend>
            {% if error_message %}
                <p>
                    <strong>{{ error_message }}</strong>
                </p>
            {% endif %}
            {% if word %}
                <label for="word">Word:</label>
                <input type="text" name="word" id="word" value="{{ word }}">
            {% else %}
                <label for="word">Word:</label>
                <input type="text" name="word" id="word">
            {% endif %}
        </fieldset>
        <input type="submit" value="Analyze">
    </form>
{% endblock %}