<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Types</title>
    </head>
    <body>
        <!-- include header -->
        {% include 'editor/header.html' %}
        <main>
            <h3>Types</h3>
            <section>
                {% for example in examples %}
                    <article>
                        <h4>Declension: {{ example.declension }} Gradation: {{ example.gradation }} Count: {{ example.size }}</h4>
                        <span>
                            {% for base_form in example.example_baseforms %}
                                <a href="{% url 'editor:detail' base_form.id %}">{{ base_form.word }}</a>
                            {% endfor %}
                        </span>
                    </article>
                {% endfor %}

            </section>
            <section></section>
        </main>
    </body>
</html>