<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Word {{ base_form.word }}</title>
    </head>
    <body>
        <main>
            <h3>Word</h3>
            <p>{{ base_form.word }}</p>
            <h3>Declension</h3>
            <p>{{ base_form.declension }}</p>
            <h3>Gradation</h3>
            <p>{{ base_form.gradation }}</p>
        </main>
    </body>
</html>