{% extends "editor/base.html" %}

{% load editor_extras %}

{% block title %}Word {{ base_form.word }}
{% endblock %}

{% block content %}
    <section style="view-transition-name: detail-{{ base_form.id }}">
        <h2>Word</h2>
        <p>{{ base_form.word }}</p>
        <h2>Type</h2>
        <p>Declension: {{ base_form.declension }} Gradation: {{ base_form.gradation}}</p>
        <h2>Words of same type</h2>
        <ul>
            {% for word in same_type_words %}
                <li>
                    <a href="{% url 'editor:detail' word.id %}">{{ word.word }}</a>
                </li>
            {% endfor %}
        </ul>
        <h2>External Links</h2>
        <ul>
            <li>
                <a href="https://www.kielitoimistonsanakirja.fi/#/{{base_form.word}}">"{{base_form.word}}" Kielitoimiston sanakirjassa</a>
            </li>
            <li>
                <a href="https://en.wiktionary.org/wiki/Special:Search?search={{base_form.word}}&go=Look+up&ns0=1">"{{base_form.word}}" English Wiktionary</a>
            </li>
            <li>
                <a href="https://fi.wiktionary.org/wiki/Special:Search?search={{base_form.word}}&go=Look+up&ns0=1">"{{base_form.word}}" Finnish Wiktionary</a>
            </li>
        </ul>
    </section>
    <section>
        <form action="{% url 'editor:add_cases' %}" method="post">

            {% csrf_token %}

            <input type="hidden" name="base_form" value="{{ base_form.id }}">

            {% for number_key, cases in word_forms.items %}
                <fieldset class="flow">
                    <legend>{{ number_key }}</legend>
                    {% for item in cases %}
                        <div class="form_item">
                            <label for="{{item.case}}_{{number_key}}">{{item.case_label}}:</label>
                            <input type="text" name="{{item.case}}_{{number_key}}" id="{{item.case}}_{{number_key}}" value="{{ item.text }}" placeholder="{{ item.case | help_text }}">
                            <span class="help">{{ item.case | help_text }}</span>
                        </div>
                    {% endfor %}
                </fieldset>
            {% endfor %}
            <div class="button_parent">
                <input type="submit" value="Add">
            </div>
        </form>
    </section>
{% endblock %}