<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Word {{ base_form.word }}</title>
    </head>
    <body>
        <main>
            <section>
                <h3>Word</h3>
                <p>{{ base_form.word }}</p>
                <h3>Type</h3>
                <p>Declension: {{ base_form.declension }} Gradation: {{ base_form.gradation}}</p>
                <h3>Words of same type</h3>
                <ul>
                    {% for word in same_type_words %}
                        <li>
                            <a href="{% url 'editor:detail' word.id %}">{{ word.word }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <h3>External Links</h3>
                <ul>
                    <li>
                        <a href="https://www.kielitoimistonsanakirja.fi/#/{{base_form.word}}">"{{base_form.word}}" Kielitoimiston sanakirjassa</a>
                    </li>
                    <li>
                        <a href="https://en.wiktionary.org/wiki/Special:Search?search={{base_form.word}}&go=Look+up&ns0=1">"{{base_form.word}}" English Wiktionary</a>
                    </li>
                    <li>
                        <a href="https://fi.wiktionary.org/wiki/Special:Search?search={{base_form.word}}&go=Look+up&ns0=1">"{{base_form.word}}" Finnish Wiktionary</a>
                    </li>
                </ul>
            </section>
            <section>
                <form action="{% url 'editor:add_cases' %}" method="post">

                    {% csrf_token %}

                    <input type="hidden" name="base_form" value="{{ base_form.id }}">

                    {% for number_key, cases in word_forms.items %}
                        <fieldset>
                            <legend>{{ number_key }}</legend>
                            {% for item in cases %}
                                <label for="{{item.case}}">{{item.case_label}}:</label>
                                <input type="text" name="{{item.case}}" id="{{item.case}}" value="{{ item.text }}">
                            {% endfor %}
                        </fieldset>
                    {% endfor %}
                    <input type="submit" value="Add">
                </form>
            </section>
            <section></section>
        </main>
    </body>
</html>