<header>
    <nav>
        <h2>
            <a href="/">Keinonto.com</a>
        </h2>
        <ul>
            <li>
                <a href="/">Index</a>
            </li>
            <li>
                <a href="{% url 'editor:recent' %}">Recent</a>
            </li>
            <li>
                <a href="{% url 'editor:raw_analyze' %}">Raw Tools</a>
            </li>
            <li>
                <a href="{% url 'editor:by_type_list' %}">Per Type</a>
            </li>

        </ul>
    </nav>
</header>