{% extends "editor/base.html" %}

{% block title %}Words
{% endblock %}

{% block content %}
    <section class="search">
        <form action="{% url 'editor:search' %}" method="get">
            <h2>Search</h2>
            {% if error_message %}
                <p>
                    <strong>{{ error_message }}</strong>
                </p>
            {% endif %}
            <input type="text" name="word" id="word">
            <div class="button_parent">
                <input type="submit" value="Search">
            </div>
        </form>
    </section>
    <section>
        {% if base_forms %}
            <h2>Words</h2>
            <ul>
                {% for base_form in base_forms %}
                    <li>
                        <a href="{% url 'editor:detail' base_form.id %}">{{ base_form }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No Base forms are available.</p>
        {% endif %}
    </section>
{% endblock %}