{% extends "editor/base.html" %}

{% block title %}Search
{% endblock %}

{% block content %}
    <form action="{% url 'editor:raw' %}" method="post">
        <fieldset>
            {% csrf_token %}
            <legend>
                <h3>Search term</h3>
            </legend>
            {% if error_message %}
                <p>
                    <strong>{{ error_message }}</strong>
                </p>
            {% endif %}
            <label for="word">Word:</label>
            <input type="text" name="word" id="word">
        </fieldset>
        <input type="submit" value="Run Voikko">
    </form>

    <section>
        {% if results %}
            <h3>Results</h3>
            {% for result in results %}
                <p>{{result}}</p>
            {% endfor %}
        {% else %}
            <p>No results from Voikko</p>
        {% endif %}
    </section>
{% endblock %}