{% extends "editor/base.html" %}

{% block title %}Recent Additions
{% endblock %}

{% block content %}
    <section>
        <form action="{% url 'editor:analyze' %}" method="post">
            {% csrf_token %}
            {% if error_message %}
                <p>
                    <strong>{{ error_message }}</strong>
                </p>
            {% endif %}
            <label for="word">Add Words Here:</label>
            <input type="text" name="word" id="word">
            <div class="button_parent">
                <input type="submit" value="Analyze">
            </div>
        </section>
        {% if word_forms %}
            <section>
                <ul>
                    {% for word_form in word_forms %}
                        <li>
                            <a href="{% url 'editor:detail' word_form.baseform.id %}">{{ word_form }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    {% endblock %}