<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recent Additions</title>
    </head>
    <body>
        <main>
            <section>
                <form action="{% url 'editor:analyze' %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend>
                            <h3>Word to Analyze</h3>
                        </legend>
                        {% if error_message %}
                            <p>
                                <strong>{{ error_message }}</strong>
                            </p>
                        {% endif %}
                        <label for="word">Word:</label>
                        <input type="text" name="word" id="word">
                    </fieldset>
                    <input type="submit" value="Analyze">
                </section>
                {% if word_forms %}
                    <section>
                        <ul>
                            {% for word_form in word_forms %}
                                <li>
                                    <a href="{% url 'editor:detail' word_form.baseform.id %}">{{ word_form }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}
            </main>
        </body>
    </html>